# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# data
data/com-lj.ungraph.txt
data/com-orkut.ungraph.txt

# binaries
blossom5/blossom5
metagraphs/masterarbeit

#  metagraphs cache
metagraphs/CMakeFiles
metagraphs/assets
metagraphs/data
metagraphs/CMakeCache.txt


# vscode
.vscode
.idea

parallel/cmake-build-debug
parallel/cmake-*
parallel/CMakeCache.txt
